body
{
    display: grid;
    grid-template-columns: 10%  84%;
    grid-template-rows: 1fr 2fr 0.5fr;
    gap: 10px;
    background-color: lightgoldenrodyellow;
}

main, div, nav   
{
    border: black solid 1px;
}

.dino
{
    height: 176px;
    width: 185px;
    border: black solid 2px;

}


h2,h3
{
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 30px;
}

.artikel
{
    border: black solid 1px;
    margin-left: 10px;
}

p
{
    margin-left: 10px;
    margin-right: 10px;
}

footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    border: black solid 1px;
}
.header
{
    padding-top: 50px;  
}